<!doctype html>
<html ng-app="writeArticleApp">
  <head>
  	<title>Editor - Mạng Văn Học</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script src="lib/angular.min.js"></script>
    <script src="lib/snap.min.js"></script>
    <script src="lib/angular-snap.js"></script>
    <script src="lib/angular-touch.js"></script>
	<script src="lib/medium-editor/js/medium-editor.js"></script>
	<script src="lib/angular-medium-editor.min.js"></script>
	<script>
	var app = {
	    // Application Constructor
	    initialize: function() {
	        this.bindEvents();
	    },
	    // Bind Event Listeners
	    //
	    // Bind any events that are required on startup. Common events are:
	    // 'load', 'deviceready', 'offline', and 'online'.
	    bindEvents: function() {
	        document.addEventListener('deviceready', this.onDeviceReady, false);
	    },
	    // deviceready Event Handler
	    //
	    // The scope of 'this' is the event. In order to call the 'receivedEvent'
	    // function, we must explicity call 'app.receivedEvent(...);'
	    onDeviceReady: function() {
	       'use strict';
			var domain = "http://210.245.88.160:9000";
			angular.module('configContenteditable', []).
			  directive('contenteditable', function () {
			      return {
			          restrict: 'A', // only activate on element attribute
			          require: '?ngModel', // get a hold of NgModelController
			          link: function (scope, element, attrs, ngModel) {
			              if (!ngModel) return; // do nothing if no ng-model

			              // Specify how UI should be updated
			              ngModel.$render = function () {
			                  element.html(ngModel.$viewValue || '');
			              };

			              // Listen for change events to enable binding
			              element.on('blur keyup change', function () {
			                  scope.$apply(readViewText);
			              });

			              // No need to initialize, AngularJS will initialize the text based on ng-model attribute

			              // Write data to the model
			              function readViewText() {
			                  var html = element.html();
			                  // When we clear the content editable the browser leaves a <br> behind
			                  // If strip-br attribute is provided then we strip this out
			                  if (attrs.stripBr && html == '<br>') {
			                      html = '';
			                  }
			                  ngModel.$setViewValue(html);
			              }
			          }
			      };
			  });

			angular.module('writeArticleApp', ['snap','angular-medium-editor','configContenteditable'])
			.config(function(snapRemoteProvider) {
				snapRemoteProvider.globalOptions = {
				      disable: 'right',
				      touchToDrag: false
				    }
			})
			.controller('mainCtrl', function($scope, snapRemote, $http){
				snapRemote.getSnapper().then(function(snapper){
					snapper.on('open',function(){
						$scope.disableBoxControl = true;
						$scope.$apply();
					});

					snapper.on('close', function(){
						$scope.disableBoxControl = false;
						$scope.$apply();
					});
				});

				$scope.publishArticle = function(){
			 		console.log('click', $scope.content);
			 		var data = {
			 			'title' : $scope.title,
			 			'subtitle' : $scope.subtitle,
			 			'content' : $scope.content
			 		};
			 		console.log(data);


			 		$http.post(domain + '/article/save', data).
					    success(function(data, status, headers, config) {
					      console.log('success', data);
					    }).
					    error(function(data, status, headers, config) {
					      console.log('error', data);
					    });
			 		}
			})
			.controller('writeArticleController', ['$scope', function($scope) {
			
			}]);
	    }
	};
	</script>
	<link rel="stylesheet" type="text/css" href="lib/medium-editor/css/medium-editor.css">
	<link rel="stylesheet" type="text/css" href="lib/medium-editor/css//themes/default.css">
	<link rel="stylesheet" type="text/css" href="css/article.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/sider.css">
    <link rel="stylesheet" type="text/css" href="css/lib/snap.css">
    <link rel="stylesheet" type="text/css" href="css/lib/angular-snap.css">
  </head>
  <body ng-controller="mainCtrl">
  	<div class="fixed">
  		<span ng-class="{'box_control_disable':disableBoxControl}" class="box_control" snap-toggle="left"></span>
  	</div>
  	<snap-drawer>
  		<div id="sider" class="sider">
  			<ul class="sider_list">
  				<li class="sider_list_item"><a class="sider_list_item_btn" href="#">Home</a></li>
  				<li class="sider_list_item"><a class="sider_list_item_btn" href="#">New Story</a></li>
  				<li class="sider_list_item"><a class="sider_list_item_btn" href="#">Draft</a></li>
  				<li class="sider_list_item"><a class="sider_list_item_btn" href="#">Stats</a></li>
  				<li class="sider_list_item"><a class="sider_list_item_btn" href="#">Collections</a></li>
  			</ul>
  		</div>
  	</snap-drawer>
  	<snap-content>
	  	<div id="wrapper">
	  		<div id="menu" class="top_bar">
				<div class="top_bar_block align_left">
					
				</div>
				<div class="top_bar_block align_right">
					<button class="btn btn-delete btn-danger" title="Delete">Delete</button>
					<button class="btn btn-history btn-normal" title="History">History</button>
					<button class="btn btn-share-draft btn-normal" title="Share Draft">Share Draft</button>
					<button class="btn btn-publish btn-primary" ng-click="publishArticle()" title="Publish">Publish</button>
				</div>
	  		</div>
			<div id="container">
			    <div>
					<div>
						<form name="write_article" id="write_article">
							<h1 id="article_title" contenteditable="true" ng-model="title" placeholder="Title" autofocus></h1>
							<h2 id="article_subtitle" contenteditable="true" ng-model="subtitle" placeholder="SubTitle" /></h2>
				      		<div id="article_content" medium-editor ng-model="content" spellcheck="false" data-placeholder="Write your story"></div>
					  	</form>
				  	</div>
				</div>
			</div>
  	</div>
  	</snap-content>
  	<script type="text/javascript">
  		document.getElementById('article_title').focus();
        app.initialize();
  	</script>
  </body>
</html>
